[submodule "opti_pessi_interface"]
	path = opti_pessi_interface
	url = git@github.com:AlexBarbi/opti_pessi_interface.git
[submodule "opti_pessi_perception"]
	path = opti_pessi_perception
	url = git@github.com:AlexBarbi/opti_pessi_perception.git
